[submodule "src/arussim/include/controller_sim"]
	path = src/arussim/include/controller_sim
	url = git@github.com:ARUSfs/controller_sim.git
[submodule "src/arussim/resources/parameters"]
	path = src/arussim/resources/parameters
	url = git@github.com:ARUSfs/ART-Parameters.git
[submodule "src/arussim/include/CON_VehicleControl"]
	path = src/arussim/include/CON_VehicleControl
	url = git@github.com:ARUSfs/CON-VehicleControl.git
[submodule "controller_sim"]
	path = controller_sim
	url = git@github.com:ARUSfs/controller_sim.git
[submodule "src/arussim/include/CON-VehicleControl"]
	path = src/arussim/include/CON-VehicleControl
	url = git@github.com:ARUSfs/CON-VehicleControl.git
