arussim:
  ros__parameters:
    track: "FSG"
    state_update_rate: 1000.0      # Hz
    csv_state: false               # bool   Save data to CSV file
    csv_vehicle_dynamics: false    # bool   Save data to CSV file

    vehicle:
      COG_front_dist:     1.9     # m
      COG_back_dist:      -1.0    # m
      car_width:          0.8     # m
      gear_ratio:        12.48

    sensor:
      lidar_fov:         25.0                   # m   Perception circular range
      camera_fov:        30.0                   # m   Perception circular range
      pub_rate:           10.0                  # Hz  Publish rate
      noise_position_lidar_perception:   0.01   # m   Noise standard deviation
      noise_prob_lidar_perception: 0.1          # %   Noise standard deviation for probability of perception
      noise_lidar_color:        0.25            # m   Noise standard deviation for color perception
      noise_camera_perception: 0.1             # m   Noise standard deviation for camera perception
      noise_camera_color:       0.15            # m   Noise standard deviation for camera
      cut_cones_below_x:  -1.0                  # m   Cut cones that are further than this distance in x car axis
      position_lidar_x:   1.5                   # m   Position of the lidar in x car axis
      position_camera_x:  0.0                   # m   Position of the camera in x car axis
      camera_color_probability: 0.98            # Probability of a cone being colored by the camera

    debug: false